.custom-date-picker {
  background-color: #394b54;
  color: #cecdcd;
  font-size: 16px;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 7px -1px #0009;
  padding: 10px 15px;
  width: 100%;
}

.custom-date-picker::placeholder {
  color: #a29f9f;
  text-align: start;
}

.react-datepicker-wrapper {
  width: 100%;
}